events {
    worker_connections  1024;
}

http {

  passenger_root {{ passenger_root }};
  passenger_ruby {{ passenger_ruby }};
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

  server {
    listen {{ port }};
    server_name {{ server_name }};
    passenger_enabled on;
    rails_env {{ rails_env }};
    root {{ root_path }}
  }
}
